@model IEnumerable<FixtureServiceModel>

@*<div class="row" style="border-bottom: #38003c 1px solid; padding-bottom: 5px; padding-top: 5px;"></div>*@

@foreach (var fixture in Model.OrderBy(f => f.DateTimeStart))
{
    <div class="row" style="border-bottom: #38003c 1px solid;">

        <div class="col-4 text-center">
            <div class="row" >
                <div class="col-6 animated bounceInDown" >
                    <div style="margin-top: 1vw;"><strong> @fixture.HomeTeamShortName</strong></div>
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <img src="@fixture.HomeTeamBadgeImgUrl" class="animated bounceInDown"; style="filter: drop-shadow(0px 5px 8px #38003c); height: 2vw;margin-top: 0.5vw">
                </div>
            </div>
        </div>
        <div class="col-1">
            @*@fixture.Home*@
        </div>
        <div class="col-2 text-center animated fadeIn">
            <div style="border: #38003c 1px solid;  background-color: #38003c; color: #ffffff; margin-top: 0.3vw;margin-bottom: 0.3vw">
                @DateTime.Now
            </div>
        </div>
        <div class="col-1">
            @*@fixture.Away*@
        </div>
        <div class="col-4 text-center">
            <div class="row">
                <div class="col-4">
                    <img src="@fixture.AwayTeamBadgeImgUrl"  class="animated bounceInUp" style="filter: drop-shadow(0px 5px 8px #38003c); height: 2vw;margin-top: 0.5vw"/>
                </div>
                <div class="col-2">
                </div>
                <div class="col-6 animated bounceInUp">
                    <div style="margin-top: 1vw"><strong> @fixture.AwayTeamShortName</strong></div>
                </div>
            </div>
        </div>
    </div>
}


