@model List<GameweekServiceModel>
@{
    ViewData["Title"] = "All";
}
<br/>

<div class="container">
    <table class="table table-hover table-striped">
        <tbody>
        @foreach (var gameweek in Model)
        {
            <tr>
                <th>@gameweek.Id</th>
                <th>@gameweek.Name</th>
                <th>@gameweek.Start</th>
                <th>@(gameweek.Finished ? "Yes" : "No")</th>
                <th>
                    <a class="btn btn-sm btn-primary" asp-area="Administrator" asp-controller="Gameweeks"
                       asp-action="Edit" asp-route-id="@gameweek.Id" style="margin-left: 10px">Edit</a>
                </th>
            </tr>
        }
        </tbody>
    </table>
    
</div>