@using System.Linq
@model Fantasy.Web.Areas.Administrator.Models.GameweekListingViewModel
@{
    ViewData["Title"] = "Gameweeks";
}
<br/>
    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>
                        Gamewwek
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Finished
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gw in Model.Gameweeks.OrderBy(gw => gw.Number))
                {
                    <tr>
                        <td><input asp-for="@gw.Name" disabled class="form-control" /></td>
                        <td><input asp-for="@gw.Start" disabled class="form-control" /></td>
                        <td><input class="form-control" value="@(gw.Finished ? "Yes" : "No")" disabled /></td>
                        <td>
                            <input type="hidden" name="GameweekId" value="@gw.Id" />
                            <a asp-area="Administrator" asp-controller="Gameweeks" asp-action="Details" asp-route-id="@gw.Id" class="btn btn-info text-white">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@*@foreach (var gw in Model.Gameweeks)
{
    <div class="row">
        <form method="post" asp-area="Administrator" asp-controller="Gameweeks" asp-action="Edit">
            <input asp-for="@gw.Name" name="Name" disabled/>
            <input asp-for="@gw.Finished" name="Finished"/>
            <input asp-for="@gw.Start" name="Start"/>
            <input asp-for="@gw.Id" name="Id" hidden/>
            <input asp-for="@gw.Number" name="Number" hidden/>
            <input type="submit" value="Edit" class="btn btn-primary"/>
        </form>
    </div>
}*@



@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@