
@model IEnumerable<Fantasy.Services.Models.PlayerServiceModel>
@{
    ViewData["Title"] = "_PartialPlayers";
}


<table class="table table-hover" id="listedPlayersContainer">
    <thead>
    </thead>
    <tbody>
    @foreach (var player in Model)
    {
        <tr>
            <td>
                <div class="row" id="@player.Id">
                    <div class="col-2">
                        <img id="@player.Id" src="@player.InfoSmallImgUrl"
                             onerror="if (this.src != 'error.jpg') this.src='@DefaultPlayerImageUrl';"
                             width="45px" class="animated bounceInDown" />
                    </div>
                    <div class="col-6">
                        <div class="animated bounceInUp">
                            <a asp-controller="Players" asp-action="Details" asp-route-playerId="@player.Id" asp-route-position="@player.FootballPlayerPositionName" target="_blank">
                                <div class="row">
                                    <span style="font-size: 15px">@(player.InfoName)</span>
                                </div>
                                <div class="row">
                                    <span style="font-size: 12px; font-style: italic; color: black">@(player.FootballPlayerPositionName)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-2">
                        @if (@player.FootballClubBadgeImgUrl == "https://premierleague-static-files.s3.amazonaws.com/premierleague/badges/t6.svg")
                        {
                            <img src="@player.FootballClubBadgeImgUrl" width="20px" class="animated bounceInDown"/>

                        }
                        else
                        {
                            <img src="@player.FootballClubBadgeImgUrl" width="400%" class="animated bounceInDown"/>

                        }
                    </div>
                    <div class="col-2">
                        <p class="animated bounceInUp"><strong>@player.Price.ToPrice()</strong></p>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>


<script>
    @*const jsFrame = new JSFrame();
    const frame = jsFrame.create({
        title: '@Model.Clubs',
        left: 20, top: 20, width: 320, height: 220,
        movable: true,//Enable to be moved by mouse
        resizable: true,//Enable to be resized by mouse
        html: '<div id="my_element" style="padding:10px;font-size:12px;color:darkgray;">Contents of window</div> '
    });
//Show the window
    frame.show();
    frame.$('#my_element').innerHTML = '<span style="color:red">Hello world</span>';*@
</script>

