@model Fantasy.Services.Models.IHaveStatistics
@{
    ViewData["Title"] = "mid";
}

<div>
<div class="row">
    <div class="col-5" style="background-color: #ffffff">
        @{
            var gk = Model.GetType().GetProperties().Where(p => p.Name.StartsWith("Goalkeeping")).ToList();
            if (gk.Count != 0)
            {
                <div class="row">Goalkeeping</div>
                @foreach (var property in gk)
                 {
                     <div class="row animated bounceInLeft">
                         <div class="col-8 text-left">
                             @property.Name.Replace("Goalkeeping", string.Empty).ToSentenceCase()
                         </div>
                         <div class="col-4 text-right">
                             @property.GetValue(Model)
                         </div>
                     </div>
                 }
            }
        }
        <div class="row">Defence</div>
        @foreach (var property in Model.GetType().GetProperties().Where(p => p.Name.StartsWith("Defence")))
        {
            <div class="row  animated bounceInLeft">
                <div class="col-8 text-left">
                    @property.Name.Replace("Defence", string.Empty).ToSentenceCase()
                </div>
                <div class="col-4 text-right">
                    @property.GetValue(Model)
                </div>
            </div>
        }
        <div class="row">Attack</div>
        @foreach (var property in Model.GetType().GetProperties().Where(p => p.Name.StartsWith("Attack")))
        {
            <div class="row animated bounceInLeft">
                <div class="col-8 text-left">
                    @property.Name.Replace("Attack", string.Empty).ToSentenceCase()
                </div>
                <div class="col-4 text-right">
                    @property.GetValue(Model)
                </div>
            </div>
        }
    </div>
    <div class="col-2"></div>
    <div class="col-5" style="background-color: #ffffff">
        <div class="row">Team Play</div>
        @foreach (var property in Model.GetType().GetProperties().Where(p => p.Name.StartsWith("TeamPlay")))
        {
            <div class="row animated bounceInRight">
                <div class="col-8 text-left">
                    @property.Name.Replace("TeamPlay", string.Empty).ToSentenceCase()
                </div>
                <div class="col-4 text-right">
                    @property.GetValue(Model)
                </div>
            </div>
        }
        <div class="row">Discipline</div>
        @foreach (var property in Model.GetType().GetProperties().Where(p => p.Name.StartsWith("Discipline")))
        {
            <div class="row animated bounceInRight">
                <div class="col-8 text-left">
                    @property.Name.Replace("Discipline", string.Empty).ToSentenceCase()
                </div>
                <div class="col-4 text-right">
                    @property.GetValue(Model)
                </div>
            </div>
        }

    </div>
</div>
</div>
