

@model PlayerDetailsServiceModel
@{
    ViewData["Title"] = @Model.InfoName;
}

<br />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">

            <div class="col-5" style="background-color: #ffffff;">
                <div class="row">
                    <div class="col-8 text-center animated fadeIn delay-1s">
                        <img id="img" src="@Model.InfoBigImgUrl" onerror="if (this.src != 'error.jpg') this.src = '@DefaultPlayerImageUrl';" class="player"/>
                    </div>
                    <div class="col-4">
                        <div class="playerInfoName animated bounceInLeft row ">@Model.InfoName</div>
                        <div class="animated bounceInLeft row text-center playerInfoPosition" style="background-color: #38003c">
                            <div class="col" id="pos">@Model.FootballPlayerPositionName</div>
                        </div>
                        <div class="playerInfoNumber animated bounceInLeft  row">$ @Model.Price</div>
                    </div>
                </div>
            </div>

            <div class="col-2 text-center">
                <div class="row text-center">
                    <div class="col text-center">
                        <img src="@Model.FootballClubBadgeImgUrl" class="animated bounceInDown" width="80%"/>
                    </div>
                </div>
            </div>

            <div class="col-5 " style="background-color: #ffffff">
                <div class="row infoRow">
                    <div class="col-6 text-left animated bounceInRight"><strong>Shirt Number</strong></div>
                    <div class="col-6 text-right animated bounceInRight"><strong>@(Model.InfoShirtNumber == null ? "" : Model.InfoShirtNumber.ToString())</strong></div>
                </div>
                <div class="row infoRow">
                    <div class="col-6 text-left animated bounceInRight"><strong>Country</strong></div>
                    <div class="col-6 text-right animated bounceInRight"><strong>@Model.InfoCountry</strong></div>
                </div>
                <div class="row infoRow">
                    <div class="col-6 text-left animated bounceInRight"><strong>Height</strong></div>
                    <div class="col-6 text-right animated bounceInRight"><strong>@(Model.InfoHeight == null ? "" : Model.InfoHeight + " cm")</strong></div>
                </div>
                <div class="row infoRow">
                    <div class="col-6 text-left animated bounceInRight"><strong>Weight</strong></div>
                    <div class="col-6 text-right animated bounceInRight"><strong>@(Model.InfoWeight == null ? "" : Model.InfoWeight + " kg")</strong></div>
                </div>
                <div class="row infoRow">
                    <div class="col-6 text-left animated bounceInRight"><strong>Birth Date</strong></div>
                    <div class="col-6 text-right animated bounceInRight"><strong>@Model.InfoBirthDate?.ToString("dd/MM/yyyy", null)</strong></div>
                </div>
                <div class="row infoRow">
                    <div class="col-6 text-left animated bounceInRight"><strong>Join Date</strong></div>
                    <div class="col-6 text-right animated bounceInRight"><strong>@Model.InfoJoinDate?.ToString("dd/MM/yyyy", null)</strong></div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-2"></div>
</div>

<br /><br />


<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
        <div class="col-5" style="background-color: #ffffff"></div>
        <div class="col-2">
            @await Component.InvokeAsync("Gameweeks", true)
        </div>
            <div class="col-5" style="background-color: #ffffff"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<br /><br />


<div class="row">
    <div class="col-2"></div>
    <div class="col-8" id="stat"></div>
    <div class="col-2"></div>
</div>


<script>
    $(document).ready(function() {
        $('#stat').load(`/Players/GetPartialStatistics?playerId=${@Model.Id}&position=${$('#pos').text()}&gameweekId=@DataConstants.AllTimeStatisticsGameweekId`);

        $('#gameweek').change(function() {
            $('#stat').load(`/Players/GetPartialStatistics?playerId=${@Model.Id}&position=${$('#pos').text()}&gameweekId=${$('#gameweek').val()}`);
        });
    });
</script>





<style rel="stylesheet">

    body {
        background: url(/images/stadiums/@Model.Ground) no-repeat center center fixed;
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;*/
        background-size: cover;
    }

    .infoRow {
        border-bottom: #38003c 1px solid;
        margin-top: 10px;
    }

    .player {
        width: 80%;
    }

    .playerInfoName {
        font-size: 1.5vw;
        color: #38003c;
        font-family: fantasy;
    }

    .playerInfoNumber {
        font-size: 2vw;
        color: #e90052;
        font-family: fantasy;
    }

    .playerInfoPosition {
        font-size: 1vw;
        font-style: italic;
        color: #04f5ff;
        font-family: fantasy;
    }

    .custom {
        color: #38003c;
        font-size: 14px;
        font-weight: bold
    }

    table {
        margin-top: 5px;
    }
</style>

