@using System.Globalization
@using Fantasy.Data
@model Fantasy.Services.Models.PlayerDetailsServiceModel
@{
    ViewData["Title"] = @Model.InfoName;
}


<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-5 animated bounceInLeft" style="background-color: #ffffff;">
                <div style="border-radius: 100%; color: #e90052">
                <div class="row">
                    <div class="col-8 text-center animated bounceInLeft delay-1s">
                        <img src="@Model.InfoBigImgUrl" onerror="if (this.src != 'error.jpg') this.src = '@DataConstants.FootballPlayerDefaultImgUrl';" class="player"/>
                    </div>
                    <div class="col-4">
                        <div class="playerInfoName animated bounceInLeft  delay-1s">@Model.InfoName</div>
                        <br/>
                        <div class="playerInfoPosition text-center animated bounceInLeft  delay-1s" style="background-color: #38003c">@Model.FootballPlayerPositionName</div>
                        <br/>
                        <div class="playerInfoNumber animated bounceInLeft  delay-1s">$ @Model.Price</div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-2 text-center">
                <img src="@Model.FootballClubInfoBadgeUrl" width="80%"/>
            </div>
            <div class="col-5 animated bounceInRight"  style="background-color: #ffffff">
                <div class="row">
                    <table class="table custom">
                        <tbody>
                        <tr>
                            <td class="animated bounceInRight  delay-1s">Shirt Number</td>
                            <td class="animated bounceInRight text-right delay-1s">@(Model.InfoShirtNumber == 0 ? "" : Model.InfoShirtNumber.ToString())</td>
                        </tr>
                        <tr>
                            <td class="animated bounceInRight  delay-1s">Country</td>
                            <td class="animated bounceInRight  text-right  delay-1s">@Model.InfoCountry</td>
                        </tr>
                        <tr>
                            <td class="animated bounceInRight  delay-1s">Weight</td>
                            <td class="animated bounceInRight text-right  delay-1s">@(Model.InfoWeight  == 0 ? "" : Model.InfoWeight + " kg")</td>
                        </tr>
                        <tr>
                            <td class="animated bounceInRight  delay-1s">Height</td>
                            <td class="animated bounceInRight  text-right  delay-1s">@(Model.InfoHeight == 0 ? "" : Model.InfoHeight + " cm")</td>
                        </tr>
                        <tr>
                            <td class="animated bounceInRight  delay-1s">Birth Date</td>
                            <td class="animated bounceInRight  text-right  delay-1s">@Model.InfoBirthDate?.ToString("dd/MM/yyyy", null)</td>
                        </tr>
                        <tr>
                            <td class="animated bounceInRight  delay-1s">Join Date</td>
                            <td class="animated bounceInRight  text-right delay-1s">@Model.InfoJoinDate?.ToString("dd/MM/yyyy", null)</td>
                        </tr>
                        @*<tr>
                            <td class="animated bounceInUp  delay-1s"></td>
                            <td class="animated bounceInDown  text-right delay-1s"></td>
                        </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<br/><br/>
<br/><br/>





<style rel="stylesheet">
    body { 
        background: url(/images/stadiums/city.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .player {
        width: 100%;
    }

    .playerInfoName {
        font-size: 1.5vw;
        color: #38003c;
        font-family:fantasy;
    }

    .playerInfoNumber {
        font-size: 2vw;
        color: #e90052;
        font-family:fantasy;
    }

    .playerInfoPosition {
        font-size: 1vw;
        font-style: italic;
        color: #04f5ff;
        font-family:fantasy;
    }
    .custom {
        color: #38003c;
        font-size:  14px;
        font-weight: bold
    }
    table {
        margin-top: 5px;

    }

</style>


@*
    #04f5ff	(4,245,255)
#04f5ff	(233,0,82)
#ffffff	(255,255,255)
#00ff85	(0,255,133)
#38003c	(56,0,60)
    *@