@model List<HistorySquadServiceModel>
@{
    ViewData["Title"] = "_PartialSquad";
}

<br />
<br />
<div class="row">
    <div class="col-10">
        <div class="row">
            @for (var i = 1; i <= 11; i++)
            {
                <div class="col-1" @(i == 1 ? "style=margin-left:25px" : "style=margin-left:1px")>
                 
                    <img src="@(Model.Count == 0 ? DefaultPlayerBigImageUrl : Model[i - 1].ImgUrl)" 
                         style="filter: drop-shadow(0px 16px 13px #38003c); width: 21vw;" hidden class="animated bounceInLeft" id="@(i)"/>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <table class="table" style="background-color: #ffffff">
            @if (Model.Count != 0)
            {
                <tr>
                    @for (var i = 0; i <= 10; i++)
                    {
                        <th>@Model[i].Name</th>
                    }
                </tr>
                <tr >
                    @for (var i = 0; i <= 10; i++)
                    {
                        <th @(@Model[i].Points < 0 ? "style=color:#e90052" : @Model[i].Points > 0 ? "style=color:#00ff85" : "style=color:#38003c")>
                            <h1>@Model[i].Points.ToString("F0")</h1>
                        </th>
                    }
                </tr>
            }
            </table>
    </div>
    <div class="col-1"></div>

</div>

<script>
    $(document).ready(function () {
        $('#1').attr('hidden', false);
        setTimeout(function () {
            $('#2').attr('hidden', false);
        }, 200);
        setTimeout(function () {
            $('#3').attr('hidden', false);
        }, 400);
        setTimeout(function () {
            $('#4').attr('hidden', false);
        }, 600);
        setTimeout(function () {
            $('#5').attr('hidden', false);
        }, 800);
        setTimeout(function () {
            $('#6').attr('hidden', false);
        }, 1000);
        setTimeout(function () {
            $('#7').attr('hidden', false);
        }, 1200);
        setTimeout(function () {
            $('#8').attr('hidden', false);
        }, 1400);
        setTimeout(function () {
            $('#9').attr('hidden', false);
        }, 1600);
        setTimeout(function () {
            $('#10').attr('hidden', false);
        }, 1900);
        setTimeout(function () {
            $('#11').attr('hidden', false);
        }, 2200);

        let total = 0;
        for (let point of $('h1')) {
            total += Number($(point).text());
        }

        $('#points').text(total);
    });
</script>


