@{
    ViewData["Title"] = "_PartialSystem433";
}
<br />
<div class="animated fadeIn">
    <div class="row">
        <div class="col-12 text-center">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="G1" title="@Goalkeeper" position="@Goalkeeper" playerId="0" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-3 text-right">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="D1" title="@Defender 1" position="@Defender 1" playerId="0" />
        </div>
        <div class="col-3 text-center">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="D2" title="@Defender 2" position="@Defender 2" playerId="0" />
        </div>
        <div class="col-3 text-center">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c) " id="D3" title="@Defender 3" position="@Defender 3" playerId="0" />
        </div>
        <div class="col-3 text-left">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="D4" title="@Defender 4" position="@Defender 4" playerId="0" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-4 text-right">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="M1" title="@Midfielder 1" position="@Midfielder 1" playerId="0" />
        </div>
        <div class="col-4 text-center">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="M2" title="@Midfielder 2" position="@Midfielder 2" playerId="0" />
        </div>
        <div class="col-4 text-left">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="M3" title="@Midfielder 3" position="@Midfielder 3" playerId="0" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-4 text-right">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="F1" title="@Forward 1" position="@Forward 1" playerId="0" />
        </div>
        <div class="col-4 text-center">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="F2" title="@Forward 2" position="@Forward 2" playerId="0" />
        </div>
        <div class="col-4 text-left">
            <img class="FP" freePos="yes" src="@DefaultPlayerBigImageUrl"
                 style="width: 5vw; cursor: pointer; filter: drop-shadow(0px 16px 13px #38003c)" id="F3" title="@Forward 3" position="@Forward 3" playerId="0" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.FP').click(function () {
            if ($(this).attr('freePos') === 'no') {
                $('#ids').val('');
                $(this).attr('playerId', '0');
                $(this).addClass('animated fadeIn');
                $('#free' + this.id).removeClass('animated fadeIn');
                $(this).attr('freePos', 'yes');
                $($('#free' + this.id).parent().children()[1]).text($(this).attr('title'));
                $(this).attr('title', $(this).attr('position'));
                $('#free' + this.id).attr('freePos', 'no');
                $('#free' + this.id).attr('src', $(this).attr('src'));
                $(this).attr('src', '@DefaultPlayerBigImageUrl');
                $('#free' + this.id).removeAttr('id');
            }
        });
    });
</script>
