@using Fantasy.Web.Infrastructure.Extensions
@model Fantasy.Services.Administrator.Models.FootballPlayerServiceModel
@{
    ViewData["Title"] = "View";
}


    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
   
        <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>@nameof(Model.Id).ToSentenceCase()</label>
                <input disabled asp-for="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.FootballPlayerPositionName).ToSentenceCase()</label>
                <input asp-for="@Model.FootballPlayerPositionName" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.FootballClubId).ToSentenceCase()</label>
                <input asp-for="@Model.FootballClubId" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.FootballClubName).ToSentenceCase()</label>
                <input asp-for="@Model.FootballClubName" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoName).ToSentenceCase()</label>
                <input asp-for="@Model.InfoBigImgUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoSmallImgUrl).ToSentenceCase()</label>
                <input asp-for="@Model.InfoSmallImgUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoBirthDate).ToSentenceCase()</label>
                <input asp-for="@Model.InfoBirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoJoinDate).ToSentenceCase()</label>
                <input asp-for="@Model.InfoJoinDate" class="form-control" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>@nameof(Model.InfoCountry).ToSentenceCase()</label>
                <input asp-for="@Model.InfoCountry" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoBirthPlace).ToSentenceCase()</label>
                <input asp-for="@Model.InfoBirthPlace" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoWeight).ToSentenceCase()</label>
                <input asp-for="@Model.InfoWeight" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoHeight).ToSentenceCase()</label>
                <input asp-for="@Model.InfoHeight" class="form-control" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.Price).ToSentenceCase()</label>
                <input asp-for="@Model.Price" class="form-control"/>
            </div> <div class="form-group">
                <label>@nameof(Model.InfoShirtNumber).ToSentenceCase()</label>
                <input asp-for="@Model.InfoShirtNumber" class="form-control"/>
            </div>
            <div class="form-group">
                <label>@nameof(Model.InfoName).ToSentenceCase()</label>
                <input asp-for="@Model.InfoName" class="form-control"/>
            </div>
            <div class="form-group">
                <label>@nameof(Model.IsInjured).ToSentenceCase()</label>
                <input asp-for="@Model.IsInjured" />
            </div>
            <div class="form-group">
                <label>@nameof(Model.IsPlayable).ToSentenceCase()</label>
                <input asp-for="@Model.IsPlayable" />
            </div>
        </div> 
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>


@*todo validation script*@