@model FootballPlayerStatisticsFormModel
@{
    ViewData["Title"] = "Edit Statistics";
}
<br/>
<form method="post">
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.Tackles)</label>
        <input asp-for="Tackles" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.BlockedShots)</label>
        <input asp-for="BlockedShots" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Interceptions)</label>
        <input asp-for="Interceptions" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Clearances)</label>
        <input asp-for="Clearances" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.HeadedClearance)</label>
        <input asp-for="HeadedClearance" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Recoveries)</label>
        <input asp-for="Recoveries" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.DuelsWon)</label>
        <input asp-for="DuelsWon" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.DuelsLost)</label>
        <input asp-for="DuelsLost" class="form-control"/>
    </div>
    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.SuccessfulFiftyFifties)</label>
        <input asp-for="SuccessfulFiftyFifties" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.AerialBattlesWon)</label>
        <input asp-for="AerialBattlesWon" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.AerialBattlesLost)</label>
        <input asp-for="AerialBattlesLost" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.CleanSheets)</label>
        <input asp-for="CleanSheets" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.GoalsConceded)</label>
        <input asp-for="GoalsConceded" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.LastManTackles)</label>
        <input asp-for="LastManTackles" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.OwnGoals)</label>
        <input asp-for="OwnGoals" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.ErrorsLeadingToGoal)</label>
        <input asp-for="ErrorsLeadingToGoal" class="form-control"/>
    </div>
    <div class="col-2"></div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.Goals)</label>
        <input asp-for="Goals" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.PenaltiesScored)</label>
        <input asp-for="PenaltiesScored" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.FreeKicksScored)</label>
        <input asp-for="FreeKicksScored" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Shots)</label>
        <input asp-for="Shots" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.ShotsOnTarget)</label>
        <input asp-for="ShotsOnTarget" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.HitWoodwork)</label>
        <input asp-for="HitWoodwork" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.BigChancesMissed)</label>
        <input asp-for="BigChancesMissed" class="form-control"/>
    </div>
    <div class="col-1">

    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.Saves)</label>
        <input asp-for="Saves" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.PenaltiesSaved)</label>
        <input asp-for="PenaltiesSaved" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Punches)</label>
        <input asp-for="Punches" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.HighClaims)</label>
        <input asp-for="HighClaims" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Catches)</label>
        <input asp-for="Catches" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.GoalKicks)</label>
        <input asp-for="GoalKicks" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.SweeperClearances)</label>
        <input asp-for="SweeperClearances" class="form-control"/>
    </div>
    <div class="col-1">

    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.Assists)</label>
        <input asp-for="Assists" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Passes)</label>
        <input asp-for="Passes" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.AccurateLongBalls)</label>
        <input asp-for="AccurateLongBalls" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Crosses)</label>
        <input asp-for="Crosses" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.ThroughBalls)</label>
        <input asp-for="ThroughBalls" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.BigChancesCreated)</label>
        <input asp-for="BigChancesCreated" class="form-control"/>
    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.YellowCards)</label>
        <input asp-for="YellowCards" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.RedCards)</label>
        <input asp-for="RedCards" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Fouls)</label>
        <input asp-for="Fouls" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Offsides)</label>
        <input asp-for="Offsides" class="form-control"/>
    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
        <label>@nameof(Model.Appearances)</label>
        <input asp-for="Appearances" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Wins)</label>
        <input asp-for="Wins" class="form-control"/>
    </div>
    <div class="col-1">
        <label>@nameof(Model.Losses)</label>
        <input asp-for="Losses" class="form-control"/>
    </div>
    <div class="col-1">
    </div>
    <div class="col-1">

    </div>
    <div class="col-1">
        <input asp-for="PlayerId" hidden/>
    </div>
    <div class="col-1">
        <input asp-for="GameweekId" hidden/>
    </div>
    <div class="col-1">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="col-2"></div>

</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    label {
        font-size: 0.8vw;
    }
</style>