@model List<TopTenUserViewModel>

@{
    ViewData["Title"] = "Default";
}

<div style="width: 38.2vw; height: 19vw; filter: drop-shadow(0px 5px 8px #38003c); background-color: #ffffff">
    <canvas id="myChart" style="filter: drop-shadow(10px 10px 12px #38003c)"></canvas>
</div>

<script>
    //todo validation
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['@Model[0].Name','@Model[1].Name', '@Model[2].Name', '@Model[3].Name', '@Model[4].Name'],
            datasets: [{
                label: 'Top 5 Users',
                data: [Number(@Model[0].Points), Number(@Model[1].Points), Number(@Model[2].Points), Number(@Model[3].Points), Number(@Model[4].Points)],
                backgroundColor: [
                    '#38003c',
                    '#00ff85',
                    '#e90052',
                    '#ffffff',
                    '#04f5ff',
                ]
            }]
        }
    });
</script>