@model List<TopTenFootballPlayerViewModel>
@{
    ViewData["Title"] = "Default";
   }

<div style="width: 30vw ;">
    <canvas id="@Model[0].Position" style="filter: drop-shadow(10px 10px 12px #38003c);"></canvas>
</div>

<script charset="utf-8">
    //todo validation
    var ctx = document.getElementById('@Model[0].Position').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ['@Model[0].Name', '@Model[1].Name', '@Model[2].Name', '@Model[3].Name', '@Model[4].Name',
                '@Model[5].Name','@Model[6].Name', '@Model[7].Name', '@Model[8].Name', '@Model[9].Name'],
            datasets: [{
                label: 'Top 10 @(Model[0].Position)s',
                data: ['@Model[0].Points', '@Model[1].Points', '@Model[2].Points', '@Model[3].Points', '@Model[4].Points',
                    '@Model[5].Points','@Model[6].Points', '@Model[7].Points', '@Model[8].Points', '@Model[9].Points'],
                backgroundColor: [
                    '#38003c',
                    '#00ff85',
                    '#e90052',
                    '#ffffff',
                    '#04f5ff',
                    '#38003c',
                    '#00ff85',
                    '#e90052',
                    '#ffffff',
                    '#04f5ff',
                ],
                borderWidth: 2
            }]
        },
    });
</script>