@model List<FootballClubServiceModel>
<br />
<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="jumbotron" style="background-color: #38003c; color: #ffffff; padding-bottom: 80px;">
            <div style="text-align: center; font-size: 2.2vw">
                Welcome to my stupid Premier League Fantasy pseudo project
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    @await Component.InvokeAsync("TopTenFootballPlayers", Goalkeeper)
                </div>
                <div class="row" style="margin-top: 2.5vw">
                    @await Component.InvokeAsync("TopTenFootballPlayers", Defender)
                </div>
               <div class="row" style="margin-top: 2.5vw">
                    @await Component.InvokeAsync("TopTenFootballPlayers", Midfielder)
                </div>
                <div class="row" style="margin-top: 2.5vw">
                    @await Component.InvokeAsync("TopTenFootballPlayers", Forward)
                </div>
            </div>
            <div class="col-6">
                <div class="row" style="filter: drop-shadow(0px 5px 8px #38003c); background-color: #ffffff">
  
                        <div class="row" style="margin-top: 2vw">
                            @for (int i = 0; i < 4; i++)
                            {
                                <div class="col-3">
                                    <a asp-area="" asp-controller="Home" asp-action="Club" asp-route-id="@Model[i].Id">
                                        <img src="@Model[i].BadgeImgUrl" />
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @for (int i = 4; i < 8; i++)
                            {
                                <div class="col-3">
                                    <a asp-controller="Home" asp-action="Club" asp-route-id="@Model[i].Id">
                                        <img src="@Model[i].BadgeImgUrl"  />
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @for (int i = 8; i < 12; i++)
                            {
                                <div class="col-3">
                                    <a asp-controller="Home" asp-action="Club" asp-route-id="@Model[i].Id">
                                        <img src="@Model[i].BadgeImgUrl"  />
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @for (int i = 12; i < 16; i++)
                            {
                                <div class="col-3">
                                    <a asp-controller="Home" asp-action="Club" asp-route-id="@Model[i].Id">
                                        <img src="@Model[i].BadgeImgUrl"  />
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @for (int i = 16; i < 20; i++)
                            {
                                <div class="col-3">
                                    <a asp-controller="Home" asp-action="Club" asp-route-id="@Model[i].Id">
                                        <img src="@Model[i].BadgeImgUrl" @(i == 16 ? "style=width:3vw" : "style=width: 2vw") id="a@(i)"/>
                                    </a>
                                </div>
                            }
                
                    </div>
                </div>
             
                <div class="row" style="margin-top: 2vw;">
                    @await Component.InvokeAsync("TopTenFantasyUsers")
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<script>
    $(document).ready(function() {
        $('img').mouseover(function () {
            $(this).addClass('animated rotateIn')
        });
        $('img').mouseout(function () {
            $(this).removeClass('animated rotateIn')
        });
        //$('img').on('error',function () {
        //    $(this).unbind("error").attr("src",
        //        "https://premierleague-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/Photo-Missing.png");
        //});
    });
</script>
<style>
    img {
        margin-bottom: 2vw;
        width: 5.5vw;
        filter: drop-shadow(10px 10px 12px #38003c);
        opacity: 0.6;
        margin-left: 1vw;
    }

    #a16 {
        margin-left: 3vw;
       
    }
</style>